*.mak
*.mak.vpc_crc
*.vpc_crc
*.vpc.*
*.project
*.obj
.waf*
.lock-waf*
__pycache__
*.pyc
.vs/
Debug/
Debug_*/
Release/
Release_*/
*.tlog/
*.pch
*.log
*.idb
*.pdb
*.rc
*.bin
*.vcxproj*
*.sln
*.dll*
*.exp
*.ilk
ValveETWProviderEvents.h
game/client/*/client.lib
game/server/*/server.lib
.DS_Store
build*/
.cache/
.ccache/
waf3*/
.vscode/
.depproj/
source-engine.sln
# IPA staging directory from scripts/ios/createipa.sh (do not ignore TF2
# game/server/tf/bot/behavior/scenario/payload/).
build/ios/Payload/
*.ipa
